.cloumn {
  margin: 15px 15px 0;
  display: flex;
}

.cloumn div {
  position: relative;
  float: left;
  width: 300px;
  height: 200px;
  padding: 0;
  margin: 0 0 0 25px;
}

figure {
  width: 300px;
  height: 200px;
  margin: 0;
  padding: 0;
  background-color: #fff;
  overflow: hidden;
}

.hover1 figure img {
  transition: 0.3s;
}

.hover1 figure:hover img {
  transform: scale(1.4);
  transition: 0.3s;
}

.hover2 figure img {
  transform: scale(1.4);
  transition: 0.3s;
}

.hover2 figure:hover img {
  transform: scale(1);
}

.hover3 figure img {
  transform: scale(1.4) rotate(5deg);
  transition: 0.3s;
}

.hover3 figure:hover img {
  transform: scale(1.1) rotate(0);
}

.hover4 figure img {
  transition: 0.3s;
  opacity: 0.3;
}

.hover4 figure:hover img {
  opacity: 1;
}

.hover5 figure img {
  transition: 0.3s;
  filter: grayscale(100%);
}

.hover5 figure:hover img {
  filter: grayscale(0);
}

.hover6 figure img {
  transition: 0.3s;
  filter: sepia(100%);
}

.hover6 figure:hover img {
  filter: sepia(0);
}

.hover7 figure img {
  transition: 0.3s;
}

.hover7 figure:hover img {
  filter: blur(3px) grayscale(100%);
}
